# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data
data/
yelp_datasets/

# Models
models/

# Outputs
outputs/

# Logs
logs/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env

# Coverage
.coverage
htmlcov/